# Odoo Standard
odoo/
data/
odoo-venv/
addons/base/
addons/web/

archive/
*.log
*.deb

# Database and Sessions
filestore/
sessions/

# Sensitive Information
credential.md
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store


# Ignore Python environment and cache
venv/
.venv/
*.pyc
*.pyo



# Ignore git and IDE
.git/
.vscode/
.idea/
